{% extends 'layout.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<div class="mt-5 container">
<h1 class="mb-3">Home</h1>
  <div class="mb-3"></div>
  <a href="/logout" class="btn btn-danger">Logout</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for row in users %}
        <tr>
          <th scope="row">{{ row.0 }}</th>
          <td>{{ row.1 }}</td>
          <td>{{ row.2 }}</td>
          <td>{{ row.3 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}