{% import 'components.html' as c %} {% extends 'layout.html' %} {% block head %}

<title>MUZAAQI</title>

{% endblock %} {% block body %}
<div
  id="home"
  class="d-md-flex position-relative align-items-center justify-content-center vh-100 overflow-hidden"
>
  <div
    class="position-absolute top-50 start-50 translate-middle text-center text-uppercase"
    style="z-index: 1; color: rgba(0, 0, 0, 0.08); font-weight: 900;"
  >
    <h1 class="animate__animated animate__bounceInLeft" style="font-size: 10rem;">Muhammad</h1>
    <h1 class="animate__animated animate__bounceInRight" style="font-size: 20rem;">Zaki</h1>
    <h1 class="animate__animated animate__bounceInLeft" style="font-size: 10rem;">As Shidiqi</h1>
  </div>
  <div class="position-relative z-2 animate__animated animate__bounceIn aminate__delay-1s">
    <img
      src="{{ url_for('static', filename='images/profile.png') }}"
      alt="Profile Picture"
      class="img-fluid rounded-circle shadow-lg"
      style="width: 400px; object-fit: cover;"
    />
  </div>
</div>

<section id="about" class="bg-dark text-white py-5 position-relative">
  <div class="container text-center">
    <div class="d-flex flex-column align-items-center gap-4">
      <div>
        <h3 class="fw-semibold text-uppercase mb-2">Student ID</h3>
        <p class="fs-5 text-secondary mb-0">5240411230</p>
      </div>

      <div>
        <h3 class="fw-semibold text-uppercase mb-2">Current Education</h3>
        <p class="fs-5 text-secondary mb-0">
          Undergraduate Student of Informatics Engineering, Semester 3
        </p>
      </div>
      <div>
        <h3 class="fw-semibold text-uppercase mb-2">Address</h3>
        <p class="fs-5 text-secondary mb-0">Purworejo</p>
      </div>
      <div class="d-flex gap-5">
        {{ c.Icon("instagram", size=24, url="https://instagram.com/muzaaqi_/") }}
        {{ c.Icon("youtube", size=24, url="https://youtube.com/@muzaaqi_") }}
        {{ c.Icon("github", size=24, url="https://github.com/muzaaqi") }}
        {{ c.Icon("discord", size=24, url="https://discord.com/users/494420968492761089") }}
        {{ c.Icon("linkedin", size=24, url="https://linkedin.com/in/muzaaqi/") }}
      </div>
    </div>
    <div
      class="position-absolute top-0 start-50 translate-middle-x opacity-10"
      style="font-size: 10rem; font-weight: 800; color: rgba(255, 255, 255, 0.05); pointer-events: none;"
    >
      PROFILE
    </div>
  </div>
</section>
{% endblock %}
